@model IEnumerable<TodoListApp.WebApp.DBModel.Task>

@{
    ViewData["Title"] = "Index";
}

<div id="PageTaskHere"></div>
<!-- Page Heading -->
<div class="page">
    <h2>Task</h2>
    &ensp;
    <div class="row">
        <div class="col-xl-2">Tasks</div>
        <div class="col-xl-2"><input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></div>
    </div>
    &ensp;
    <div class="row">
        <div class="col-xl-2">Categories</div>
        <div class="col-xl-2">
            <select name="Category" class="form-control" id="1">
                <option value="">Đọc sách</option>
                <option value="">Mua sắm</option>
                <option value="">Học tập</option>
                <option value="">Thể dục</option>
            </select>
        </div>
    </div>
    &ensp;
    <div class="row">
        <div class="col-xl-2">IsCompeled</div>
        <div class="col-xl-2">
            <select name="Compeled" class="form-control" id="1">
                <option value="">Đang thực hiện</option>
                <option value="">Hoàn thành</option>
            </select>
        </div>
    </div>
    &ensp;
    <div class="row"><div class="col-xl-2">CreateDate</div></div>
    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-1">From</div>
        <div class="col-xl-2"><input type="date" class="form-control" name="start" id="1"></div>
        <div class="col-xl-1">To</div>
        <div class="col-xl-2"><input type="date" class="form-control" name="start" id="2"></div>
        <div class="col-xl-2"></div>
    </div>
    &ensp;
    <div class="row"><div class="col-xl-2">DueDate</div></div>
    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-1">From</div>
        <div class="col-xl-2"><input type="date" class="form-control" name="start" id="3"></div>
        <div class="col-xl-1">To</div>
        <div class="col-xl-2"><input type="date" class="form-control" name="start" id="4"></div>
        <div class="col-xl-2"></div>
    </div>
</div>
                &ensp;
<div class="text-center">
    <button type="button" class="btn btn-primary btn-lg">Search</button>
</div>
                &ensp;
<div class="row">
    <div class="col-xl-6"></div>
    <div class="col-xl-2"></div>
    <div class="col-xl-2"><button type="button" class="btn btn-info" data-toggle="tasksmodal" data-target="#editModal" data-url="@Url.Action("Create")" >Create Task</button></div>
    <div class="col-xl-2"><button type="button" class="btn btn-secondary">Export CSV</button></div>
</div>
                &ensp;
@*<div class="d-flex flex-row-reverse">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Trước</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">Sau</a></li>
    </ul>
</div>*@

<!-- DataTales Example -->
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead class="thead-dark">
            <tr>
                <th>No</th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsCompleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OverDue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsCompleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OverDue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedBy)
                    </td>
                    <td>
                        <button type="button" class="btn btn-link" data-toggle="tasksmodal" data-target="#editModal" data-url="@Url.Action($"Edit/{item.ID}")">Edit</button> |
                        <button type="button" class="btn btn-link" data-toggle="tasksmodal" data-target="#editModal" data-url="@Url.Action($"Details/{item.ID}")">Details</button> |
                        <button type="button" class="btn btn-link" data-toggle="tasksmodal" data-target="#editModal" data-url="@Url.Action($"Delete/{item.ID}")">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- /.container-fluid -->
