@model List<TodoListApp.WebApp.DBModel.User>

@{ ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Danh sách tài khoản</h2>
<hr>
<div class="row">
    <div class="col-xl-2"><a class="btn btn-info btn-lg" asp-action="Create" asp-controller="Users">Tạo mới tài khoản</a></div>
    <div class="col-xl-2">
        <a class="btn btn-secondary btn-lg" asp-action="Edit" asp-controller="Users">Chỉnh sửa tài khoản</a>
    </div>
</div>
<hr>
<div class="d-flex flex-row-reverse">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Trước</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">Sau</a></li>
    </ul>
</div>
<!-- DataTales Example -->
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead class="thead-dark">
            <tr>
                <th>STT</th>
                <th>Tài khoản</th>
                <th>Họ Tên</th>
                <th>Ngày sinh</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Acton</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>@item.ID</td>
    <td>@item.UserName</td>
    <td>@item.Name</td>
    <td>@item.Birth</td>
    <td>@item.Email</td>
    <td>@item.Phone</td>
    <td>
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#userModal">Edit</button> |
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteModal">Delete</button>
    </td>
</tr>
       }

        </tbody>
    </table>
</div>

<!-- User Modal-->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Quản lý Thông tin Tài khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">Tên đăng nhập</div>
                    <div class="col-md-6"><input class="form-control" type="text" /></div>
                </div>
                &ensp;
                <div class="row">
                    <div class="col-md-4">Mật khẩu</div>
                    <div class="col-md-6"><input class="form-control" type="password" /></div>
                </div>
                &ensp;
                <div class="row">
                    <div class="col-md-4">Họ Tên</div>
                    <div class="col-md-6"><input class="form-control" type="text" /></div>
                </div>
                &ensp;
                <div class="row">
                    <div class="col-md-4">Ngày sinh</div>
                    <div class="col-md-6"><input class="form-control" type="date" name="birth" id="1"></div>
                </div>
                &ensp;
                <div class="row">
                    <div class="col-md-4">Email</div>
                    <div class="col-md-6"><input class="form-control" type="text" /></div>
                </div>
                &emsp;
                <div class="row">
                    <div class="col-md-4">Điện thoại</div>
                    <div class="col-md-6"><input class="form-control" type="text" /></div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">Ghi chú</div>
                    <div class="col-md-6">
                        <textarea class="form-control" name="txtComment" id="txtComment" rows="5" cols="25"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu và Thoát</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
            </div>
        </div>
    </div>
</div>


